
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Basica</title>
    <link rel="stylesheet" href="Estilos.css">
</head>
<body>
    <div class="contenedor"> 
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <div class="imagen">
                <img src="imagen/imagen1.jpg" alt="" width="700">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo del Articulo</h2>
                    <p>
                        A través del proceso evolutivo, la naturaleza ha logrado adaptarse a casi cualquier ambiente que existe en la tierra. 
                        Por esta razón, algunos animales sobreviven en hábitats tan extremos como el desierto, la alta montaña y hasta las 
                        profundidades marinas a las que el hombre no puede llegar.
                    </p>
                    <p>
                        Sobre todo, nos llama la atención cómo estos animales de alta montaña pueden sobrevivir en condiciones tan adversas. 
                        Sin embargo, como dice el refrán popular, “la naturaleza es sabia” y les ha otorgado las herramientas para adaptarse 
                        a tales circunstancias. En este artículo te brindaremos información acerca de algunas especies que habitan las áreas 
                        de más altura del planeta.
                    </p>
                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos Destacados</h3>
                <ul>
                    <li><a href="#">Aves</a></li>
                    <li><a href="#">Felinos</a></li>
                    <li><a href="#">Cabras</a></li>
                    <li><a href="#">Vegetacion</a></li>
                    <li><a href="#">Turismo</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3 class="titulo">Informacion</h3>
                <p>
                    Cuando India era una colonia británica, un equipo de agrimensores decidió medir la altura de todas las cumbres del Himalaya.
                    Se interesaron particularmente por una que superaba a todas los demás: la cima XV.
                    Calcularon su altitud en 9.000 metros por sobre el nivel del mar, lo cual convirtió a la montaña en la más alta del mundo.
                    En 1865 le cambiaron el nombre por el de Everest, en honor a George Everest, un experto galés que se encargó de casi toda la topografía de India.
                    Desde entonces, numerosos escaladores han intentado conquistar su cima para demostrarle al mundo que han puesto un pie la montaña más alta del planeta.
                </p>
            </div>
        </aside>
        <footer>
            <p>
                © 2023 BBC. La BBC no se hace responsable del contenido de sitios externos.
            </p>
        </footer>
    </div>
</body>
</html>